.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url('../images/background_header.svg');
  position: relative;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span_accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3F96F3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f
}
.nav {
  display: flex;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.recipes {
  color: #fff;
  background: center / cover no-repeat #0a2750 url('../images/background_recipes.svg');
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif,'Times New Roman', serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  color: #000;
  background: center / cover no-repeat #D9E7FF url('../images/background_reservation.svg');
  padding: 100px 0px 120px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
}
.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
}

input::placeholder {
  color: #838383;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 20px 0;
  margin-bottom: 32px;
  color: #fff;
  background-color: #1878DC;
  transition: background-color ease-in-out 0.3s;
}

.form__button:hover {
  background-color: #3F96F3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.invisible-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visible-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  background-color: white;
  margin-right: 8px;
}

.invisible-checkbox:checked + .visible-checkbox {
  background-color: #1878DC;
  background-image: url(/images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color:  #1878DC url('../images/check.svg');
}

